{% extends 'base.html' %}
{% block title %} Inscription{% endblock %}
{% block body_content %}
    <h1 class="center mt-5">Inscription</h1>
     <form class="center" style="margin-left:40px" action="" method="post">
        {% csrf_token %}
         <div><b>{{ form.username.label }}</b></div>
        <div>{{ form.username }}</div>
         <div><b>{{ form.password.label }}</b></div>
        <div>{{ form.password }}</div>
         <div><b>{{ form.email.label }}</b></div>
        <div>{{ form.email }}</div>
         <div class="mb-3">
                    <a href="{% url 'login' %}">Lien <b>Connexion</b></a>
                </div>

        <button class="btn btn-success" type="submit">Valider</button>
    </form>
{% endblock %}
